<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Software Niagara" %></title>

    <!-- Open Graph data-->
    <meta property="og:title" content="<%= current_page.data.title || 'Software Niagara'%>">
    <meta property="og:description" content="<%= current_page.data.description || 'A grassroots initiative to connect the Software Community in Niagara' %>">
    <meta property="og:image" content="<%= current_page.data.image || '/images/cards/open-graph_1200x630.png'%>">
    <meta property="og:site_name" content="Software Niagara">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.softwareniagara.com<%= current_page.url %>">

    <!-- Twitter card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@softwareniagara">
    <meta name="twitter:url" content="http://www.softwareniagara.com<%= current_page.url %>">
    <meta name="twitter:title" content="<%= current_page.data.title || 'Software Niagara'%>">
    <meta name="twitter:description" content="<%= current_page.data.description || 'A grassroots initiative to connect the Software Community in Niagara' %>">
    <meta name="twitter:image" content="<%= current_page.data.image || '/images/cards/open-graph_1200x630.png'%>">

    <link rel="icon" href="/images/icons/favicon_16x16.png" sizes="16x16">
    <link rel="icon" href="/images/icons/favicon_32x32.png" sizes="32x32">
    <link rel="icon" href="/images/icons/favicon_48x48.png" sizes="48x48">
    <link rel="icon" href="/images/icons/favicon_62x62.png" sizes="62x62">

    <!-- Disable automatic detection and formatting of possible phone numbers -->
    <meta name="format-detection" content="telephone=no">

    <!-- Add to Home Screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Software Niagara">

    <!-- Touch Icons -->
    <link rel="apple-touch-icon" href="/images/icons/apple-touch-icon.png">

    <!-- Startup Images-->
    <link rel="apple-touch-startup-image" href="/images/icons/apple-touch-startup_1536x2008.png"
      media="(device-width: 768px) and (device-height: 1024px)
             and (-webkit-device-pixel-ratio: 2)
             and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/images/icons/apple-touch-startup_1496x2048.png"
          media="(device-width: 768px) and (device-height: 1024px)
                 and (-webkit-device-pixel-ratio: 2)
                 and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="/images/icons/apple-touch-startup_768x1004.png"
          media="(device-width: 768px) and (device-height: 1024px)
                 and (-webkit-device-pixel-ratio: 1)
                 and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/images/icons/apple-touch-startup_748x1024.png"
          media="(device-width: 768px) and (device-height: 1024px)
                 and (-webkit-device-pixel-ratio: 1)
                 and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="/images/icons/apple-touch-startup_1242x2148.png"
          media="(device-width: 414px) and (device-height: 736px)
                 and (-webkit-device-pixel-ratio: 3)
                 and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/images/icons/apple-touch-startup_1182x2208.png"
          media="(device-width: 414px) and (device-height: 736px)
                 and (-webkit-device-pixel-ratio: 3)
                 and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="/images/icons/apple-touch-startup_750x1294.png"
          media="(device-width: 375px) and (device-height: 667px)
                 and (-webkit-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" href="/images/icons/apple-touch-startup_640x1096.png"
          media="(device-width: 320px) and (device-height: 568px)
                 and (-webkit-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" href="/images/icons/apple-touch-startup_640x920.png"
          media="(device-width: 320px) and (device-height: 480px)
                 and (-webkit-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" href="/images/icons/apple-touch-startup_320x460.png"
          media="(device-width: 320px) and (device-height: 480px)
                 and (-webkit-device-pixel-ratio: 1)">

    <!-- Android -->
    <meta name="theme-color" content="#3E4651">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:300,400">

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
