<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title><%= current_page.data.title || "Software Niagara" %></title>
    <meta name="description" content="<%= current_page.data.description || "Technology and startup events in the Niagara Region" %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="Software Niagara">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x144" href="/images/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/images/touch/apple-touch-icon-57x57-precomposed.png">

    <meta name="msapplication-TileImage" content="/images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#00A9C7">

    <link rel="shortcut icon" href="/images/touch/touch-icon-57x57.png">
    <link rel="shortcut icon" sizes="196x196" href="/images/touch/touch-icon-196x196.png">
    <link rel="canonical" href="http://softwareniagara.com">

    <meta property="og:title" content="Technology and startup events in the Niagara Region">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://www.softwareniagara.com/">
    <meta property="og:image" content="http://www.softwareniagara.com/images/social/facebook.jpg">
    <meta property="og:site_name" content="Software Niagara">
    <meta property="fb:app_id" content="356641037817672"/>
    <meta property="og:description" content="We are Software Niagara - a community-led grassroot initiative to
        connect the software community in the Niagara Region. We are students, professionals, and entrepreneurs 
        that volunteer our time to manage this website, moderate a forum, and organize events. We are
        doing our part to connect the software community and create a positive environment for learning and doing business."/>

    <!--[if (gt IE 8)|!(IE)]><!--><%= stylesheet_link_tag "main" %><!--<![endif]-->
  </head>
  <body class="<%= page_classes %>">
    <%= partial "components/header" %>
    <!--[if lt IE 9]>
    <p><strong>You are using an <u>outdated browser</u> browser, so we are giving you an <u>outdated experience</u>. Please 
    <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</strong></p>
    <![endif]-->
    <%= yield %>
    <%= partial "components/footer" %>
    <!--[if (gt IE 8)|!(IE)]><!--><%= javascript_include_tag "main" %><!--<![endif]-->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34081005-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
