---
title: Technology &amp; Startup Events in the Niagara Region
---

<section id="introduction" class="section">
  <div>
    <div class="content">
      <h1>Your software community</h1>
      <h3>Be part of a vibrant community in the Niagara Region</h3>

      <div class="actions">
        <a href="#events" class="button alt">Attend an event</a>
        <a href="http://forum.softwareniagara.com" class="button alt">Visit the forum</a>
      </div>
    </div>
</section>

<section id="events" class="section">
  <div class="inner">
    <div class="content">
      <h2>Our Events</h2>

      <p class="lead">
        We organize free and inclusive events that are designed to connect the
        software community, facilitate learning, and celebrate innovation and
        entrepreneurship.
      </p>

      <p>
        Our events are organized by members of the community for the community.
        We encourage people of all skill levels to come out to DemoCamp,
        DevTricks and OpenHackSTC. Experienced or just curious; you're welcome
        at our events.
      </p>

      <ul class="events">
        <li class="wow fadeIn">
          <a href="#event-democamp" class="event-target">
            <%= image_tag "event-democamp.png", alt: "DemoCamp Niagara" %>
          </a>
        </li>
        <li class="wow fadeIn" data-wow-delay="0.3s">
          <a href="#event-devtricks" class="event-target">
            <%= image_tag "event-devtricks.png", alt: "DevTricks" %>
          </a>
        </li>
        <li class="wow fadeIn" data-wow-delay="0.6s">
          <a href="#event-openhackstc" class="event-target">
            <%= image_tag "event-openhackstc.png", alt: "OpenHackSTC" %>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div id="event-democamp" class="event">
    <div class="content">
      <div class="event-image">
        <%= image_tag "event-democamp-photo.png" %>
      </div>
      <div class="event-details">
        <span class="event-close"><i class="icon ion-close-round"></i></span>
        <h3>DemoCamp Niagara</h3>

        <p class="lead">
          DemoCamp Niagara is a showcase of made-in-Niagara technology and the
          talent behind it.
        </p>

        <p>
          Each DemoCamp starts with a keynote followed by 4-6 technology demos
          from local designers, developers and entrepreneurs. The audience has
          an opportunity to ask questions after each demo.
        </p>

        <p>
          DemoCamp has been held all over Canada, including Hamilton, Guelph,
          Toronto and Calgary. We are proud to carry on the tradition since
          2012. DemoCamp returns in the fall of 2014.
        </p>
      </div>
    </div>
  </div>

  <div id="event-devtricks" class="event">
    <div class="content">
      <div class="event-image">
        <%= image_tag "event-devtricks-photo.png", alt: "DevTricks" %>
      </div>
      <div class="event-details">
        <span class="event-close"><i class="icon ion-close-round"></i></span>
        <h3>DevTricks</h3>

        <p class="lead">
          Learn tricks of the trade from other developers on the second
          monday of the month.
        </p>

        <p>
          We line-up a few developers for each event to teach the programming
          languages, frameworks, tools and tips that make them productive.
          The audience has an opportunity to ask questions after each lesson.
          In fact, the audience even has a chance to join in. The floor is
          opened to <i>ad hoc</i> presentations at the end of the evening.
        </p>

        <p>
          Join us on the second monday of each month at
          <a href="http://www.coworkniagara.com">Cowork Niagara</a>.
        </p>

        <p>
          <a href="#" class="button">Register for free</a>
        </p>
      </div>
    </div>
  </div>

  <div id="event-openhackstc" class="event">
    <div class="content">
      <div class="event-image">
        <%= image_tag "event-openhackstc-photo.png", alt: "OpenHackSTC" %>
      </div>
      <div class="event-details">
        <span class="event-close"><i class="icon ion-close-round"></i></span>
        <h3>OpenHackSTC</h3>

        <p class="lead">
          Code together on anything at Cowork Niagara on the fourth monday of
          the month.
        </p>

        <p>
          We organize a meetup once a month to get a group of people together
          to hack on anything. It doesn't matter what language, framework or
          license you want to use. Everyone is welcome. Hack alone or in a group.
          Work on the next big thing or contribute to an open source project.
        </p>

        <p>
          We kick off each session with a call to arms. Tell us who you are and
          what you want to work on. Don't be afraid to ask for help or to offer
          help. It is an open and collaborative environment.
        </p>

        <p>
          Join us on the fourth monday of each month at
          <a href="http://www.coworkniagara.com">Cowork Niagara</a>.
        </p>

        <p>
          <a href="#" class="button">Register for free</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section id="about" class="section">
  <div class="content">
    <div class="main">
      <h2>About Us</h2>

      <p class="lead">
        We are Software Niagara - a community-led grassroot initiative to
        connect the software community in the Niagara Region.
      </p>

      <p>
        We are students, professionals, and entrepreneurs that volunteer our time
        to manage this website, moderate a forum, and organize events. We are
        doing our part to connect the software community and create a positive
        environment for learning and doing business.
      </p>

      <p>
        We believe Niagara can be a hot spot for software and technology
        business and education. This will lead to new opportunities for professional
        development, business development, civic engagement and economic growth.
      </p>

      <h3>Our Mission</h3>

      <p>
        Our mission is to make Niagara a community that encourages and supports
        technology development and entrepreneurship. That involves encouraging
        <em>everyone</em> to take part. We believe that we should all participate
        in shaping the future of our community.
      </p>

      <h3>
        Our History
      </h3>

      <p>
        Software Niagara was founded in 2012 by Nick Kenyeres and Mike Mottola; but
        it has since grown into a thriving community with numerous volunteers. The
        initiative was based on projects in other communities; notably,
        <a href="http://www.softwarehamilton.com">Software Hamilton</a> and
        <a href="http://www.startupnorth.ca">Startup North</a>.
      </p>
    </div>
    <aside class="aside">
      <div class="well">
        <h4>History &amp; Stats</h4>
        <ul>
          <li>Founded in 2012</li>
          <li>Five DemoCamps</li>
          <li>More than twelve DevTricks</li>
          <li>Two Hackathons</li>
          <li>First OpenHackSTC in 2014</li>
        </ul>
      </div>
    </aside>
  </div>
</section>

<section id="contact" class="section">
  <div class="content">
    <div class="main">
      <h2>Contact Us</h2>

      <p class="lead">
        Did we mention that we are a grassroots organization?
      </p>

      <p>
        We are a loose knit group of volunteers. That means that we don't have
        someone available to answer the phone. We can take your email, but we
        all like to involved.
      </p>

      <p>
        The best way to get in touch with us is to introduce yourself on our
        <a href="http://forum.softwareniagara.com">forum</a>. Tell us who you
        are. Then ask a question or make a suggestion. Please note that you can
        sign up through our forum to speak or present at our events our forum.
        We have threads for upcoming events that you can add your name and topic
        too.
      </p>

      <p>We look forward to hearing from you!</p>

      <p>
        <a href="http://forum.softwareniagara.com" class="button">Chat on the
        forum</a>
      </p>
    </div>
    <aside class="aside">
      <div class="well">
        <h4>Did you know?</h4>
        <p>
          We use <a href="http://www.discourse.org">Discourse</a> to power our
          forum. Enjoy chatting with the local software community on a modern
          forum complete with Twitter-style @ mentions and notifications.
        </p>
        <p>
          <a href="http://forum.softwareniagara.com">Login</a> with your GitHub,
          Facebook, Twitter or Google account to get started.
        </p>
      </div>
    </aside>
  </div>
</section>
