---
title: Welcome to Middleman
---

<section id="introduction" class="section">
  <div>
    <div class="content">
      <h1>Your software community</h1>
      <h3>Be part of a vibrant community in the Niagara Region</h3>

      <div class="actions">
        <a href="#" class="button alt">Attend an event</a>
        <a href="#" class="button alt">Visit the forum</a>
      </div>
    </div>
</section>

<section id="events" class="section">
  <div class="inner">
    <div class="content">
      <h2>Events</h2>

      <p class="lead">
        We organize free and inclusive events that are designed to connect the
        software community, facilitate learning, and celebrate innovation and
        entrepreneurship.
      </p>

      <ul class="events">
        <li class="wow fadeIn">
          <a href="#event-democamp" class="event-target">
            <%= image_tag "event-democamp.png", alt: "DemoCamp Niagara" %>
          </a>
        </li>
        <li class="wow fadeIn" data-wow-delay="0.3s">
          <a href="#event-devtricks" class="event-target">
            <%= image_tag "event-devtricks.png", alt: "DevTricks" %>
          </a>
        </li>
        <li class="wow fadeIn" data-wow-delay="0.6s">
          <a href="#event-openhackstc" class="event-target">
            <%= image_tag "event-openhackstc.png", alt: "OpenHackSTC" %>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div id="event-democamp" class="event">
    <div class="content">
      <div class="event-image">
        <%= image_tag "event-democamp-photo.png" %>
      </div>
      <div class="event-details">
        <span class="event-close"><i class="icon ion-close-round"></i></span>
        <h3>DemoCamp Niagara</h3>

        <p class="lead">
          DemoCamp Niagara is a showcase of made-in-Niagara technology and the
          talent behind it.
        </p>

        <p>
          Each DemoCamp starts with a keynote followed by 4-6 technology demos
          from local designers, developers and entrepreneurs. The audience has
          an opportunity to ask questions after each demo.
        </p>

        <p>
          DemoCamp has been held all over Canada, including Hamilton, Guelph,
          Toronto and Calgary. We are proud to carry on the tradition since
          2012. DemoCamp return in the fall of 2014.
        </p>
      </div>
    </div>
  </div>

  <div id="event-devtricks" class="event">
    <div class="content">
      <div class="event-image">
        <%= image_tag "event-devtricks-photo.png", alt: "DevTricks" %>
      </div>
      <div class="event-details">
        <span class="event-close"><i class="icon ion-close-round"></i></span>
        <h3>DevTricks</h3>

        <p class="lead">
          Learn tricks of the trade from other developers on the second
          monday of the month.
        </p>

        <p>
          We line-up a few developers for each event to teach the programming
          languages, frameworks, tools and tips that make them productive.
          The audience has an opportunity to ask questions after each lesson.
          In fact, the audience even has a chance to join in. The floor is
          opened to <i>ad hoc</i> presentations at the end of the evening.
        </p>

        <p>
          Join us on the second monday of each month at
          <a href="http://www.coworkniagara.com">Cowork Niagara</a>.
        </p>

        <p>
          <a href="#" class="button">Register for free</a>
        </p>
      </div>
    </div>
  </div>

  <div id="event-openhackstc" class="event">
    <div class="content">
      <div class="event-image">
        <%= image_tag "event-openhackstc-photo.png", alt: "OpenHackSTC" %>
      </div>
      <div class="event-details">
        <span class="event-close"><i class="icon ion-close-round"></i></span>
        <h3>OpenHackSTC</h3>

        <p class="lead">
          Code together on anything at Cowork Niagara on the fourth monday of
          the month.
        </p>

        <p>
          We organize a meetup once a month to get a group of people together
          to hack on anything. It doesn't mmatter what language, framework or
          license you want to use. Everyone is welcome. Hack alone or in a group.
          Work on the next big thing or contribute to an open source project.
        </p>

        <p>
          We kick off each session with a call to arms. Tell us who you are and
          what you want to work. Don't be afraid to ask for help or to offer
          help. It is an open and collaborative environment.
        </p>

        <p>
          No need to eat before hand. We provide free pizza.
        </p>

        <p>
          Join us on the fourth monday of each month at
          <a href="http://www.coworkniagara.com">Cowork Niagara</a>.
        </p>

        <p>
          <a href="#" class="button">Register for free</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section id="about" class="section">
  <div class="content">
    <div class="main">
      <h2>About Software Niagara</h2>

      <p class="lead">
        We are Software Niagara - a community-led grassroots initiative to
        connect the software community in the Niagara Region.
      </p>

      <p>
        We are a group of entrepreneurs and professionals that volunteer our time
        to manage this website, moderate a forum, and organize events with the
        goal of creating a diverse software community and a positive environment
        for learning and doing business.
      </p>

      <p>
        We want to make Niagara a hotspot for software and technology business and
        education. We believe this will lead to new opportunities for professional
        development, business development, civic engagement and economic growth.
      </p>

      <h3>Our Mission</h3>

      <p>
        Our mission is to make Niagara a community that encourages and supports
        technology development and entrepreneurship. That involves encouraging
        <em>everyone</em> to take part such activities.
      </p>

      <p>
        We believe that <em>everyone</em> can make a positive impact on her or his
        community.
      </p>

      <h3>
        Our History
      </h3>

      <p>
        Software Niagara was founded in 2012 by Nickolas Kenyeres and Michael Mottola
        with the goal of organizing technology and startup events to build a
        community that celebrated and encouraged innovation and technical excellence
        in Niagara. <a href="http://www.softwarehamilton.com" target="_blank">Software
        Hamilton</a> and <a href="http://www.startupnorth.ca" target="_blank">Startup
        North</a> were the inspiration for our grassroots effort.
      </p>

      <p>
        Since 2012, we have hosted numerous DemoCamps, Startup Drinks, DevTricks,
        OpenHacks, hackathons, and coworking sessions. All of which were carried
        out by a passionate group of volunteers.
      </p>
    </div>
    <aside class="aside">
      <div class="well">
        <h4>History &amp; Stats</h4>
        <ul>
          <li>Founded in 2012</li>
          <li>Five DemoCamps</li>
          <li>More than ten DevTricks</li>
          <li>First OpenHackSTC in 2014</li>
          <li>Two Hackathons</li>
      </div>
    </aside>
  </div>
</section>
